<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Barry&#39;s BlackBox : A flight tracker and ACARS client for FlightGear">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/boxes.css">

    <title>Barry&#39;s BlackBox</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/barryballantines/BarrysBlackBox">View on GitHub</a>

          <h1 id="project_title">Barry&#39;s BlackBox</h1>
          <h2 id="project_tagline">A flight tracker and ACARS client for FlightGear</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/barryballantines/BarrysBlackBox/releases/latest">Download the latest release</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      
      {{ content }}
      
      </section>
    </div>
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Barry&#39;s BlackBox maintained by <a href="https://github.com/barryballantines">barryballantines</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
