.button {
    /*-fx-font-weight: bold;*/
}
.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-padding: 0px;
}

.toolbar-button {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px;
}
.toolbar-button--download {
    -fx-background-image: url('download.png');
    /* -fx-background-image: url('download-from-cloud.png'); */
}
.toolbar-button--upload {
    -fx-background-image: url('upload.png');
    /* -fx-background-image: url('upload-to-cloud.png'); */
}
.toolbar-button--start {
    -fx-background-image: url('aircraft-take-off.png');
}
.toolbar-button--stop {
    -fx-background-image: url('aircraft-landing.png');
}
.toolbar-button--connected {
    -fx-background-image: url('no-signal-2.png');
}
.toolbar-button--connected:selected {
    -fx-background-image: url('signal.png');
}
.input-field--invalid {
    -fx-border-color: orange;
}

.button--oval {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}